.header {
	position: relative;
	min-height: 75px;
	z-index: 50;
	min-height: 150px;

	@media(max-width: 1200px) {
		min-height: 0px;
	}
}

.container {
	position: relative;
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	height: 100%;
	padding: 0 15px;
}

.navbar {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	min-height: 150px;
	background: #ffffff;

	@media(max-width: 1200px) {
		min-height: 0px;
	}
}

dl,
ol,
ul {
	margin-top: 0;
	margin-bottom: 0rem;
}

.navbar__wrap {
	display: flex;
	justify-content: space-between;
	height: 100%;
}

.hamb {
	display: none;
}

.popup {
	display: none;
}

.logo {
	text-decoration: none;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	display: flex;
	align-items: center;
}

.menu>li>a {
	text-decoration: none;
}

.navbar__wrap .menu {
	display: flex;
}

.navbar__wrap .menu>li {
	display: flex;
	align-items: stretch;
}

.navbar__wrap .menu>li>a {
	display: flex;
	align-items: center;
	color: #292F36;
	text-align: center;
	font-family: Jost;
	font-size: 20px;
	line-height: 125%;
}

.navbar__wrap .menu>li:not(:last-child) {
	padding: 0 40px 0px 0px;
}

.navbar__wrap .menu>li>a:hover {
	color: rgb(156, 24, 24);
}

@media (max-width: 1000px) {
	.navbar__wrap .menu {
		display: none;
	}

	.hamb {
		display: flex;
		align-items: center;
	}

	.hamb__field {
		cursor: pointer;
	}

	.bar {
		display: block;
		width: 30px;
		height: 3px;
		margin: 6px auto;
		background-color: #CDA274;
		transition: 0.2s;
	}

	.popup {
		position: fixed;
		top: 60px;
		left: -100%;
		width: 100%;
		height: 100%;
		background-color: #fff;
		z-index: 100;
		display: flex;
		transition: 0.3s;
	}

	.popup.open {
		left: 0;
	}

	.popup .menu {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: start;
		padding: 50px 0px 100px 0px;
		overflow: auto;
	}

	.popup .menu>li {
		width: 100%;
	}

	.popup .menu>li>a {
		width: 100%;
		display: flex;
		justify-content: center;
		padding: 20px 0;
		font-size: 20px;
		font-weight: bold;
		color: #CDA274;
		transition: all 0.3s ease-in 0s;
	}

	.popup .menu>li>a:hover {
		color: #CDA274;
	}

	.hamb__field.active .bar:nth-child(2) {
		opacity: 0;
	}

	.hamb__field.active .bar:nth-child(1) {
		transform: translateY(10px) rotate(45deg);
	}

	.hamb__field.active .bar:nth-child(3) {
		transform: translateY(-8px) rotate(-45deg);
	}

	body.noscroll {
		overflow: hidden;
	}
}